@use 'sass:map';

$colors: (
  primary: (
    light: lightblue,
    normal: blue,
    dark: darkblue,
  ),
  secondary: (
    light: pink,
    normal: red,
    dark: firebrick,
  ),
);

@function clr($color...) {
  // 키가 있을 경우에만 리턴
  @if map.has-key($colors, $color...) {
    @return map.get($colors, $color...);
  } @else {
    @error 'That is not a color in the $colors map'
  }
}

.test {
  font-size: 2rem;
  color: clr(primary, normals);
}
