body {
    font-family: system-ui;
    background: #343434;
    color: #efefef;
    margin: 3rem;
    line-height: 1.5;
}

p {
    max-width: 60ch;
    // border: 1px solid limegreen
}

.text-centerd {

    & p {
        margin-inline: auto;
    }
    text-align: center;
}